<%- include('../head') %>
<body>
  <%- include('../header') %>
  <div class="container">
    <ul>
      <li><a href="/course" class="nav-link px-2">Курсы</a></li>
      <li>
        <a href="/course/my" class="nav-link px-2">Мои курсы</a>
      </li>
      <li>
        <a href="/course/add">Добавить курс</a>
      </li>
    </ul>
  </div>
  <%- include('../footer') %>
</body>
